{% extends 'layouts/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <h1 class="text-center my-5">Inscription</h1>
            {{ form_start(registrationForm) }}

            <fieldset class="my-3">
                <legend class="fw-bold">Mon Identité</legend>
                <div class="row">

                    <div class="col-4">
                        {{ form_row(registrationForm.lastname) }}
                    </div>

                    <div class="col-4">
                        {{ form_row(registrationForm.firstname) }}
                    </div>

                    <div class="col-4">
                        {{ form_row(registrationForm.email) }}
                    </div>

                </div>
            </fieldset>

            <fieldset class="my-3">
                <legend class="fw-bold">Mes Coordonnées</legend>
                <div class="row">
                    <div class="col-4">
                        {{ form_row(registrationForm.address) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(registrationForm.zip) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(registrationForm.town) }}
                    </div>
                </div>

                <div class="row">
{#                    {{ form_row(registrationForm.plainPassword) }}#}
                    <div class="col-6">
                        {{ form_row(registrationForm.password.first) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(registrationForm.password.second) }}
                    </div>
                </div>
            </fieldset>


        </div>
        <button type="submit" class="btn btn-primary my-3">M'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
