{% set event_show = path('event_show', { 'slug': event.slug }) %}

<section>
    <div class="row">
        <div class="col-md-5">
            {#{% if event.image %}
                <a href="{{ event_show }}">
                    <img src="/uploads/{{ event.image }}" alt="Événement : {{ event.name }}">
                </a>
            {% endif %}#}
        </div>

        <div class="col-md-7">
            <h2>
                <a class="text-decoration-none" href="{{ event_show }}">{{ event.name }}</a>
            </h2>

            <p> {{ event.startsAt|date('d M Y', 'Europe/Paris')}} </p>


        </div>
    </div>
</section>