 {% extends 'layouts/base.html.twig' %}

 {% block title %} {{ event.name}} {% endblock %}

 {% block body %}
  {% include('layouts/partials/_menu.html.twig') %}
  {% include('layouts/partials/_header.html.twig') %}

    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <h1 class="fst-italic border-bottom pb-4 mb-4 text-center">
                    {{ event.name }}
                </h1>
                {{ event.description|raw }}
            </div>

            <div class="col-md-4 me-end">
                <h1>Inscription</h1>
                {% if app.user %}
                   {{ include('sidebar/inscription/item.html.twig') }}
                {% else %}
                    <div class="alert alert-primary my-4" role="alert">
                        Pour participer à un événement vous devez d'abord vous
                        <a class="fw-bold" href="{{ path('app_login') }}">Connecter</a> ou vous
                        <a class="fw-bold" href="{{ path('app_register') }}">Inscrire</a>
                        sur l'application.
                    </div>
                {% endif %}

            </div>

        </div>

    </div>

  {% include('layouts/partials/_footer.html.twig') %}

 {% endblock %}